<?xml version="1.0" encoding="UTF-8"?>
<module name="com.google.code.gson" slot="2.8.2" xmlns="urn:jboss:module:1.3">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <artifact name="com.google.code.gson:gson:2.8.2"/>
    </resources>
</module>
