<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <module-name>openfact-sync</module-name>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
            <web-resource-name>All resources</web-resource-name>
        </web-resource-collection>
        <auth-constraint>
            <role-name>uma_authorization</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>openfact</realm-name>
    </login-config>

    <security-role>
        <role-name>uma_authorization</role-name>
    </security-role>
</web-app>
